.bg-navbar {
  background-color: rgba(186, 222, 255, 0.26);
}

.bg-banner-faq {
  background-color: #79716b;
}

.color-violet {
  background-color: #422ad5;
}

.color-faq {
  background-color: #00bcff;
}
.color-black {
  background-color: #18181b;
}
.bg-faq {
  background-color: #f8f8f8;
}
.bg-custotm {
  background-color: aliceblue;
}
